<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="public/css/estilo_admin.css">
</head>

<body>

    <header>
        <img src="public/assets/img/logo00.jpg" alt="">
        <nav>
            <ul>
                <li><a href='/sistema-de-asistencia-grupo-5/'>Home</a></li>
            </ul>
        </nav>
    </header>

    <section class="cajawall hero" id="home" style="background-image: url('public/assets/img/central2.png');">

        <div class="claselogin">
            <h2>Página no encontrada</h2>

            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_afwjhfb2.json" background="transparent"
                speed="1" style="width: 480px; height: 480px;" loop autoplay></lottie-player>
        </div>

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>