{% extends "padre.twig" %}

{% block contenido %}



<section class="cajawall hero"  id= "home" 
style="background-image: url('public/assets/img/central2.png');">
	 

	<div class="inicio-texto">
		<h2>Bienvenido <span>Administrador </span><br><br> al Sistema de Asistencia</h2>
	</div>

</section>
 


{% endblock %}