{% extends "padre.twig" %}

{% block contenido %}



<section class="cajawall hero"  id= "home">
	 
	<div class="inicio-texto">
		<h2>Bienvenido <span>Administrador </span><br><br> al Sistema de Asistencia</h2>
	</div>

</section>


<h5><ol>
  {% for skills in listSkills %}
  <br> {{skills}}<br>
  {% endfor %}
</h5></ol>
 


{% endblock %}