{% extends "padre.twig" %}

{% block contenido %}



<h1>Bienvenido al Sistema de Asistencia</h1>


<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_16MhZz.json" background="transparent" speed="1"
  style="width: 480px; height: 480px;" loop autoplay></lottie-player>


<h5><ol>
  {% for skills in listSkills %}
  <br> {{skills}}<br>
  {% endfor %}
</h5></ol>

<nav>
    
      <a href='/sistema-de-asistencia-grupo-5/inscripcion'>Inscripción</a>
      <a href='/sistema-de-asistencia-grupo-5/nosotros'>nosotros</a>
      <a href='/sistema-de-asistencia-grupo-5/form_listado_cursos'>Ver alumnos presentes por curso</a>
      <a href='/sistema-de-asistencia-grupo-5/listado_alumnos'>Listado de alumnos registrados</a>
      
    
</nav>


{% endblock %}