{% extends "padre.twig" %}

{%block stylesheet %}
<!--<link rel="stylesheet" type="text/css" href="public/css/style_login.css">-->
    {%endblock%}

    {% block titulo %}
    
      <title>{{titulo}}</title>
    {% endblock %}

{% block contenido %}


<section class="formulario">   


    <h2>Iniciar Sesion</h2>
      
    


    <h5 class="m1">{{mensaje1}}</h5>

        <form action="/sistema-de-asistencia-grupo-5/login" method="POST">       
        <div class = "claselogin" >
          
              <p>
                <label class="colocar_nombre">Usuario
                  
                </label>
                  <input class="inputEditar" type="text" name="texto_usuario" id="usuario" placeholder="Ingresa tu usuario">
              </p>
            
              <p>
                <label class="contraseña">Contraseña
                  
                </label>
                  <input class="inputEditar" type="password" name="texto_contraseña" id="contraseña" placeholder="Ingresa tu contraseña">
              </p>                 
            
              <button name="subject" type="submit" name="registrarse" id="enviar" class="botonTabla"><p>Ingresar</p></button>
        </div>
              
        </form>
  </div>  

</section>



{% endblock %}