<!DOCTYPE html>
<html lang="es">

<head>
    <title>Grupo Nº5</title>
    <meta charset="utf-8">
    {# <link rel="stylesheet" href="Framework/bootstrap/css/bootstrap.min.css"> #}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="public/css/styls.css"> -->
    <link rel="stylesheet" href="public/css/estilo_admin.css">

</head>
<body>

<header>
	<img src="public/assets/img/logo00.jpg" alt="">
	<nav>
		<ul>
			<li><a href='/sistema-de-asistencia-grupo-5/'>Home</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/asistencia'>Asistencia</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/listado_alumnos'> Alumnos registrados</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/form_listado_cursos'>Alumnos por curso</a></li>
			<li><a href="/sistema-de-asistencia-grupo-5/">SALIR</a></li>
		</ul>
	</nav>
</header>

<body>

<section class="cajawall2"  style="background-image: url('public/assets/img/central2_arriba.png');">
    {% block contenido %}


    {% endblock %}
 </section>
</body>

</html>