<!-- html comment -->


<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="estilo_admin.css">
	<title>Administrador</title>
</head>
<body>

<header>
	<img src="img/logo00.jpg" alt="">
	<nav>
		<ul>
			<li><a href="#home">Usuarios</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/inscripcion'>Inscripción</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/listado_alumnos'> Alumnos registrados</a></li>
			<li><a href='/sistema-de-asistencia-grupo-5/form_listado_cursos'>Alumnos por curso</a></li>
			<li><a href="#home">Logout</a></li>
		</ul>
	</nav>
</header>


      
      
<section class="cajawall hero"  id= "home">
	 
	<div class="inicio-texto">
		<h2>Bienvenido <span>Administrador </span><br><br> al Sistema de Asistencia</h2>
	</div>

</section>


</body>
</html>

