<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Administrador Logueo</title>
	<link rel="stylesheet" type="text/css" href="css/style login.css">
</head>
<body>
	<section class="form-login">
		<h5>Acceso de Administrador</h5>
		<input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
		<input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
		<input class="buttons" type="submit" name="" value="Ingresar">
		<p><a href="#">¿Olvidaste tu contraseña?</a></p>
	</section>
	
</body>
</html>